.siguienteNos{
    margin-top: 260px;
}
.anteriorNos {
    margin-top: 260px;
}
.ImagenCarrouselNos{
    width: 380px;
    height: 350px;
}
.texto{
    margin-left: 680px;
    text-align: right;
    color: #fff;
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#Nos{
    display: flex;
    flex-direction: row-reverse;
}